name: main
# Manual trigger only
# !!! NOTE THAT rbubley's FORKED pre-commit-mirror-maker is used
# !!! This filters out alpha and beta versions (only includes up to "latest")
# !!! However, it is significantly behind the upstream pre-commit pre-commit-mirror-maker
# !!! If manually triggerring be sure to check whether this still meets our needs
on:
  workflow_dispatch:

jobs:
  build:
    name: main
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
    - run: pip install git+https://github.com/rbubley/pre-commit-mirror-maker
    - run: git config --global user.name 'Github Actions'
    - run: git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
    - run: pre-commit-mirror . --language=node --package-name=prettier --types=text --entry='prettier --write --ignore-unknown' --id=prettier
    - run: |
        git remote set-url origin https://x-access-token:$GH_TOKEN@github.com/$GITHUB_REPOSITORY
        git push origin HEAD:refs/heads/main --tags
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
